Repository greyhats13/fta_iac: changes, and which Atlantis projects are due for each by the changed paths.
All: deployment/cloud, deployment/service/fta-users

atlantis.yaml:

version: 3
projects:
  - dir: deployment/cloud
    apply_requirements: ["mergeable"]
    autoplan:
      when_modified: ["*.tf*"]
  - dir: deployment/service/fta-users
    apply_requirements: ["mergeable"]
    autoplan:
      when_modified: ["*.tf*"]
      enabled: true

Add new GKE module and deployment
  deployment/cloud/locals.tf
  deployment/cloud/main.tf
  modules/gcp/gke/README.md
  modules/gcp/gke/gke.tf
  modules/gcp/gke/outputs.tf
  modules/gcp/gke/variables.tf
Due: deployment/cloud

Enhance GCE and GKE README.md and add providers for next development
  deployment/cloud/providers.tf
  modules/gcp/dns/README.md
  modules/gcp/gce/README.md
  modules/gcp/gke/README.md
Due: deployment/cloud

remove spaces
  modules/gcp/gke/README.md
Due: none

setup kubectl for Atlantis using ansible, enhance ansible command, and update verbosity
  deployment/cloud/.terraform.lock.hcl
  deployment/cloud/ansible/atlantis/playbook.yml
  deployment/cloud/main.tf
  deployment/cloud/providers.tf
  modules/gcp/gce/gce.tf
Due: deployment/cloud

fix ansible command with skip tags
  modules/gcp/gce/gce.tf
Due: none

fix ansible command with skip tags 2
  modules/gcp/gce/gce.tf
Due: none

fix ansible command with skip tags 3
  modules/gcp/gce/gce.tf
Due: none

add cluster name
  deployment/cloud/main.tf
  modules/gcp/gce/gce.tf
Due: deployment/cloud

update authorized IP and provider
  deployment/cloud/main.tf
  deployment/cloud/providers.tf
Due: deployment/cloud

Add helm modules and deploy external-dns
  deployment/cloud/.terraform.lock.hcl
  deployment/cloud/helm/external-dns.yaml
  deployment/cloud/locals.tf
  deployment/cloud/main.tf
  modules/cicd/github_repo/providers.tf
  modules/cicd/helm/README.md
  modules/cicd/helm/gcp.tf
  modules/cicd/helm/helm.tf
  modules/cicd/helm/managed-cert.yaml
  modules/cicd/helm/outputs.tf
  modules/cicd/helm/providers.tf
  modules/cicd/helm/variables.tf
Due: deployment/cloud

deploy ingress nginx using helm
  deployment/cloud/.terraform.lock.hcl
  deployment/cloud/helm/ingress-nginx.yaml
  deployment/cloud/locals.tf
  deployment/cloud/main.tf
  deployment/cloud/secret_generator.tf
  modules/cicd/helm/helm.tf
Due: deployment/cloud

remove lifecycle ignore changes
  deployment/cloud/secret_generator.tf
Due: deployment/cloud

enable create namespace, update terraform block, and gce module
  deployment/cloud/main.tf
  deployment/cloud/providers.tf
  modules/gcp/gce/gce.tf
Due: deployment/cloud

disable ansible_vars and id_rsa file creation
  deployment/cloud/main.tf
  modules/gcp/gce/gce.tf
  modules/gcp/gce/variables.tf
Due: deployment/cloud

update ingress nginx service annotation
  deployment/cloud/helm/ingress-nginx.yaml
Due: none

deploy cert-manager and cluster issuer
  deployment/cloud/locals.tf
  deployment/cloud/main.tf
  deployment/cloud/manifest/cert-manager.yaml
  deployment/cloud/manifest/cluster-issuer.yaml
  deployment/cloud/manifest/external-dns.yaml
  deployment/cloud/manifest/ingress-nginx.yaml
  deployment/cloud/manifest/managed-cert.yaml
  modules/cicd/helm/gcp.tf
  modules/cicd/helm/helm.tf
Due: deployment/cloud

create fta_gitops repo and add argocd deployment manifest
  deployment/cloud/locals.tf
  deployment/cloud/main.tf
  deployment/cloud/manifest/argocd.yaml
  deployment/cloud/secret_generator.tf
  deployment/cloud/terraform.tfvars
  deployment/cloud/variables.tf
Due: deployment/cloud

deploy argocd to GKE
  deployment/cloud/main.tf
  deployment/cloud/manifest/argocd.yaml
Due: deployment/cloud

change namespace name
  deployment/cloud/main.tf
Due: deployment/cloud

uninstall argocd
  deployment/cloud/main.tf
  modules/cicd/helm/helm.tf
Due: deployment/cloud

uninstall argocd 2
  deployment/cloud/manifest/argocd.yaml
Due: none

update argocd yaml and client id secret for blastcoid orgs
  deployment/cloud/main.tf
  deployment/cloud/terraform.tfvars
  deployment/cloud/variables.tf
Due: deployment/cloud

update argocd.yaml based on newest docs and reinstall argocd
  deployment/cloud/main.tf
  deployment/cloud/manifest/argocd.yaml
Due: deployment/cloud

deploy argocd
  deployment/cloud/data.tf
  deployment/cloud/locals.tf
  deployment/cloud/main.tf
  deployment/cloud/secret_generator.tf
  modules/cicd/helm/outputs.tf
Due: deployment/cloud

create ssh key for gitops repo and add public key to gitops repo
  deployment/cloud/main.tf
Due: deployment/cloud

add fta_users service github repository
  deployment/cloud/outputs.tf
  deployment/service/fta-users/.gitignore
  deployment/service/fta-users/data.tf
  deployment/service/fta-users/helm/users.yaml
  deployment/service/fta-users/locals.tf
  deployment/service/fta-users/main.tf
  deployment/service/fta-users/outputs.tf
  deployment/service/fta-users/providers.tf
  deployment/service/fta-users/terraform.tfvars
  deployment/service/fta-users/variables.tf
Due: deployment/cloud, deployment/service/fta-users

adjust folder name and atlantis.yaml
  atlantis.yaml
  deployment/service/fta-users/main.tf
  deployment/service/fta_users/.gitignore
  deployment/service/fta_users/data.tf
  deployment/service/fta_users/helm/users.yaml
  deployment/service/fta_users/locals.tf
  deployment/service/fta_users/main.tf
  deployment/service/fta_users/outputs.tf
  deployment/service/fta_users/providers.tf
  deployment/service/fta_users/terraform.tfvars
  deployment/service/fta_users/variables.tf
Due: deployment/service/fta-users

adjust repo naming
  modules/cicd/github_repo/repo.tf
Due: none

add service account binding for workload identity
  deployment/cloud/locals.tf
  deployment/cloud/main.tf
  deployment/cloud/outputs.tf
  deployment/service/fta_users/data.tf
  deployment/service/fta_users/locals.tf
  deployment/service/fta_users/main.tf
  deployment/service/fta_users/terraform.tfvars
  deployment/service/fta_users/variables.tf
  modules/cicd/github_repo/repo.tf
  modules/cicd/github_repo/variables.tf
  modules/gcp/gsa/gsa.tf
  modules/gcp/gsa/outputs.tf
  modules/gcp/gsa/variables.tf
  modules/gcp/sql/README.md
  modules/gcp/sql/outputs.tf
  modules/gcp/sql/sql.tf
  modules/gcp/sql/variables.tf
  modules/gcp/vpc/vpc.tf
Due: deployment/cloud

add cloud sql instances
  deployment/cloud/main.tf
  modules/gcp/cloudsql/README.md
  modules/gcp/cloudsql/cloudsql.tf
  modules/gcp/cloudsql/outputs.tf
  modules/gcp/cloudsql/variables.tf
  modules/gcp/sql/outputs.tf
  modules/gcp/sql/sql.tf
  modules/gcp/sql/variables.tf
Due: deployment/cloud

change module name
  deployment/cloud/main.tf
Due: deployment/cloud

add cloudsql deployment outputs
  deployment/cloud/outputs.tf
Due: deployment/cloud

add cloudsql deployment outputs 2
  deployment/cloud/outputs.tf
Due: deployment/cloud

add cloudsql deployment outputs 3
  deployment/cloud/main.tf
Due: deployment/cloud

add global address and service connection for private cloudsql instance
  deployment/cloud/.terraform.lock.hcl
  deployment/cloud/locals.tf
  deployment/cloud/main.tf
  deployment/cloud/providers.tf
  modules/gcp/cloudsql/cloudsql.tf
  modules/gcp/cloudsql/variables.tf
  modules/gcp/vpc/vpc.tf
Due: deployment/cloud

destroy cloud sql
  deployment/cloud/main.tf
  modules/gcp/cloudsql/cloudsql.tf
  modules/gcp/cloudsql/variables.tf
Due: deployment/cloud

destroy cloud sql 2
  deployment/cloud/outputs.tf
  modules/gcp/cloudsql/cloudsql.tf
  modules/gcp/cloudsql/variables.tf
Due: deployment/cloud

deploy global add, service_networking, cloudsql
  deployment/cloud/main.tf
Due: deployment/cloud

fix reserved peering range
  modules/gcp/cloudsql/cloudsql.tf
Due: none

fix resource naming
  deployment/cloud/main.tf
  modules/gcp/cloudsql/cloudsql.tf
Due: deployment/cloud
