Repository greyhats13/fta_iac: changes, and which Atlantis projects are due for each by the changed paths.
All: deployment/cloud, deployment/service/fta_users

deployment/cloud:
  dir: deployment/cloud
  apply_requirements:
  - mergeable

deployment/service/fta_users:
  dir: deployment/service/fta_users
  apply_requirements:
  - mergeable

deploy global add, service_networking, cloudsql 2
  deployment/cloud/main.tf
Due: deployment/cloud

add outputs
  deployment/cloud/outputs.tf
  deployment/service/fta_users/locals.tf
  deployment/service/fta_users/main.tf
  modules/gcp/sql/outputs.tf
  modules/gcp/sql/sql.tf
  modules/gcp/sql/variables.tf
Due: deployment/cloud, deployment/service/fta_users

Add artifact registry,gsm, sql db user, and argocd app
  deployment/cloud/locals.tf
  deployment/cloud/main.tf
  deployment/cloud/outputs.tf
  deployment/service/fta_users/data.tf
  deployment/service/fta_users/locals.tf
  deployment/service/fta_users/main.tf
  deployment/service/fta_users/manifest/managed-cert.yaml
  deployment/service/fta_users/manifest/users.yaml
  deployment/service/fta_users/outputs.tf
  deployment/service/fta_users/secret_generator.tf
  modules/cicd/helm/outputs.tf
  modules/gcp/artifact-registry/artifact-registry.tf
  modules/gcp/artifact-registry/outputs.tf
  modules/gcp/artifact-registry/variables.tf
  modules/gcp/gsa/outputs.tf
  modules/gcp/sql/sql.tf
  modules/gcp/sql/variables.tf
Due: deployment/cloud, deployment/service/fta_users

change github action variables
  deployment/cloud/outputs.tf
  deployment/service/fta_users/locals.tf
  deployment/service/fta_users/main.tf
  deployment/service/fta_users/manifest/users.yaml
  modules/gcp/cloudsql/outputs.tf
Due: deployment/cloud, deployment/service/fta_users

Change Database specs
  deployment/service/fta_users/locals.tf
  deployment/service/fta_users/main.tf
Due: deployment/service/fta_users

Update Cloud Deployment and Service Deployment, enhance readme
  README.md
  deployment/cloud/README.md
  deployment/cloud/main.tf
  deployment/cloud/outputs.tf
  deployment/service/README.md
  deployment/service/dev/fta_users/.gitignore
  deployment/service/dev/fta_users/data.tf
  deployment/service/dev/fta_users/locals.tf
  deployment/service/dev/fta_users/main.tf
  deployment/service/dev/fta_users/manifest/managed-cert.yaml
  deployment/service/dev/fta_users/manifest/users.yaml
  deployment/service/dev/fta_users/outputs.tf
  deployment/service/dev/fta_users/providers.tf
  deployment/service/dev/fta_users/secret_generator.tf
  deployment/service/dev/fta_users/terraform.tfvars
  deployment/service/dev/fta_users/variables.tf
  deployment/service/prd/fta_users/.gitignore
  deployment/service/prd/fta_users/data.tf
  deployment/service/prd/fta_users/locals.tf
  deployment/service/prd/fta_users/main.tf
  deployment/service/prd/fta_users/manifest/managed-cert.yaml
  deployment/service/prd/fta_users/manifest/users.yaml
  deployment/service/prd/fta_users/outputs.tf
  deployment/service/prd/fta_users/providers.tf
  deployment/service/prd/fta_users/secret_generator.tf
  deployment/service/prd/fta_users/terraform.tfvars
  deployment/service/prd/fta_users/variables.tf
  modules/cicd/github_repo/repo.tf
  modules/cicd/helm/helm.tf
  modules/gcp/cloudsql/cloudsql.tf
  modules/gcp/cloudsql/variables.tf
  modules/gcp/secret-manager/secret-manager.tf
Due: deployment/cloud

add fta-users prod 2
  atlantis.yaml
  deployment/service/prd/fta_users/data.tf
  deployment/service/prd/fta_users/locals.tf
  deployment/service/prd/fta_users/main.tf
  deployment/service/prd/fta_users/manifest/users.yaml
  modules/cicd/github_repo/repo.tf
Due: none

add fta-users staging and production
  atlantis.yaml
  deployment/service/fta-dev-svc-users/.gitignore
  deployment/service/fta-dev-svc-users/data.tf
  deployment/service/fta-dev-svc-users/locals.tf
  deployment/service/fta-dev-svc-users/main.tf
  deployment/service/fta-dev-svc-users/manifest/managed-cert.yaml
  deployment/service/fta-dev-svc-users/manifest/users.yaml
  deployment/service/fta-dev-svc-users/outputs.tf
  deployment/service/fta-dev-svc-users/providers.tf
  deployment/service/fta-dev-svc-users/secret_generator.tf
  deployment/service/fta-dev-svc-users/terraform.tfvars
  deployment/service/fta-dev-svc-users/variables.tf
  deployment/service/fta-prd-svc-users /.gitignore
  deployment/service/fta-prd-svc-users /data.tf
  deployment/service/fta-prd-svc-users /locals.tf
  deployment/service/fta-prd-svc-users /main.tf
  deployment/service/fta-prd-svc-users /manifest/managed-cert.yaml
  deployment/service/fta-prd-svc-users /manifest/users.yaml
  deployment/service/fta-prd-svc-users /outputs.tf
  deployment/service/fta-prd-svc-users /providers.tf
  deployment/service/fta-prd-svc-users /secret_generator.tf
  deployment/service/fta-prd-svc-users /terraform.tfvars
  deployment/service/fta-prd-svc-users /variables.tf
  deployment/service/fta-stg-svc-users/.gitignore
  deployment/service/fta-stg-svc-users/data.tf
  deployment/service/fta-stg-svc-users/locals.tf
  deployment/service/fta-stg-svc-users/main.tf
  deployment/service/fta-stg-svc-users/manifest/managed-cert.yaml
  deployment/service/fta-stg-svc-users/manifest/users.yaml
  deployment/service/fta-stg-svc-users/outputs.tf
  deployment/service/fta-stg-svc-users/providers.tf
  deployment/service/fta-stg-svc-users/secret_generator.tf
  deployment/service/fta-stg-svc-users/terraform.tfvars
  deployment/service/fta-stg-svc-users/variables.tf
  deployment/service/prd/fta_users/outputs.tf
  modules/cicd/github_repo/repo.tf
  modules/gcp/artifact-registry/artifact-registry.tf
  modules/gcp/artifact-registry/outputs.tf
  modules/gcp/artifact-registry/variables.tf
Due: none

add sonarqube
  deployment/cloud/locals.tf
  deployment/cloud/main.tf
  deployment/cloud/manifest/sonarqube-secret.yaml
  deployment/cloud/manifest/sonarqube.yaml
  deployment/cloud/secret_generator.tf
  deployment/cloud/terraform.tfvars
  deployment/cloud/variables.tf
  deployment/service/fta-dev-svc-profile/.gitignore
  deployment/service/fta-dev-svc-profile/data.tf
  deployment/service/fta-dev-svc-profile/locals.tf
  deployment/service/fta-dev-svc-profile/main.tf
  deployment/service/fta-dev-svc-profile/manifest/managed-cert.yaml
  deployment/service/fta-dev-svc-profile/manifest/profile.yaml
  deployment/service/fta-dev-svc-profile/outputs.tf
  deployment/service/fta-dev-svc-profile/providers.tf
  deployment/service/fta-dev-svc-profile/secret_generator.tf
  deployment/service/fta-dev-svc-profile/terraform.tfvars
  deployment/service/fta-dev-svc-profile/variables.tf
  modules/cicd/helm/gcp.tf
  modules/cicd/helm/helm.tf
  modules/cicd/helm/variables.tf
  modules/gcp/firestore/db/firestore.tf
  modules/gcp/firestore/db/outputs.tf
  modules/gcp/firestore/db/variables.tf
  modules/gcp/firestore/index/firestore-index.tf
  modules/gcp/firestore/index/outputs.tf
  modules/gcp/firestore/index/variables.tf
Due: deployment/cloud

update sonarqube
  deployment/cloud/main.tf
Due: deployment/cloud

update sonarqube 2
  modules/cicd/github_repo/repo.tf
Due: none

update sonarqube 3
  deployment/cloud/main.tf
  modules/cicd/github_repo/repo.tf
Due: deployment/cloud

update sonarqube 4
  deployment/cloud/manifest/sonarqube-secret.yaml
Due: none

update sonarqube 5
  deployment/cloud/manifest/sonarqube.yaml
Due: none

update sonarqube 6
  deployment/cloud/main.tf
Due: deployment/cloud

update sonarqube 7
  deployment/cloud/main.tf
  deployment/cloud/manifest/sonarqube-secret.yaml
Due: deployment/cloud

update sonarqube 8
  deployment/cloud/main.tf
  deployment/cloud/manifest/sonarqube-secret.yaml
Due: deployment/cloud

update sonarqube 9
  deployment/cloud/main.tf
Due: deployment/cloud

update sonarqube 10
  deployment/cloud/main.tf
Due: deployment/cloud

update sonarqube 11
  deployment/cloud/main.tf
Due: deployment/cloud

update sonarqube 12
  deployment/cloud/main.tf
  deployment/cloud/manifest/sonarqube-secret.yaml
  modules/cicd/helm/helm.tf
  modules/cicd/helm/variables.tf
Due: deployment/cloud

update sonarqube 13
  deployment/cloud/manifest/sonarqube.yaml
Due: none

update sonarqube 14
  deployment/cloud/manifest/sonarqube-jdbc.yaml
  deployment/cloud/manifest/sonarqube-secret.yaml
  deployment/cloud/manifest/sonarqube.yaml
Due: none

update sonarqube 15
  deployment/cloud/main.tf
Due: deployment/cloud

add deployment addons using argocd
  deployment/addons/cert-manager/.gitignore
  deployment/addons/cert-manager/data.tf
  deployment/addons/cert-manager/locals.tf
  deployment/addons/cert-manager/main.tf
  deployment/addons/cert-manager/manifest/cert-manager.yaml
  deployment/addons/cert-manager/outputs.tf
  deployment/addons/cert-manager/providers.tf
  deployment/addons/cert-manager/terraform.tfvars
  deployment/addons/cert-manager/variables.tf
  deployment/addons/external-dns/.gitignore
  deployment/addons/external-dns/data.tf
  deployment/addons/external-dns/locals.tf
  deployment/addons/external-dns/main.tf
  deployment/addons/external-dns/manifest/external-dns.yaml
  deployment/addons/external-dns/outputs.tf
  deployment/addons/external-dns/providers.tf
  deployment/addons/external-dns/terraform.tfvars
  deployment/addons/external-dns/variables.tf
  deployment/addons/ingress-nginx/.gitignore
  deployment/addons/ingress-nginx/data.tf
  deployment/addons/ingress-nginx/locals.tf
  deployment/addons/ingress-nginx/main.tf
  deployment/addons/ingress-nginx/manifest/ingress-nginx.yaml
  deployment/addons/ingress-nginx/outputs.tf
  deployment/addons/ingress-nginx/providers.tf
  deployment/addons/ingress-nginx/terraform.tfvars
  deployment/addons/ingress-nginx/variables.tf
  deployment/cloud/main.tf
  deployment/cloud/manifest/cert-manager.yaml
  deployment/cloud/manifest/cluster-issuer.yaml
  deployment/cloud/manifest/external-dns.yaml
  deployment/cloud/manifest/ingress-nginx.yaml
  deployment/cloud/manifest/sonarqube-jdbc.yaml
  deployment/cloud/manifest/sonarqube.yaml
  modules/cicd/helm/gcp.tf
  modules/cicd/helm/helm.tf
  modules/gcp/gsa/gsa.tf
Due: deployment/cloud

Path conditions:
  deployment/cloud: any of: deployment/cloud/*.tf*
  deployment/service/fta_users: any of: deployment/service/fta_users/*.tf*
